click
dlib @ https://github.com/shashankx86/dlib_compiled/raw/master/dlib-19.22.99-cp39-cp39-linux_x86_64.whl
face-recognition
face-recognition-models
imutils
joblib
numpy
opencv-contrib-python
Pillow
scikit-learn
scipy
threadpoolctl
face-recognition
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
streamlit
pathlib
psutil
numpy
