click
https://github.com/Sudhakar-Suresh/face-clustering-project/blob/main/dlib-19.22.99-cp38-cp38-win_amd64.whl
face-recognition
face-recognition-models
imutils
joblib
numpy
opencv-contrib-python
Pillow
scikit-learn
scipy
threadpoolctl
face-recognition
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dotenv
streamlit
pathlib
psutil
numpy
